*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	/* background:url(Img/Background/background_main.png) repeat-x fixed;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  word-wrap: break-word;
}

ul{
  padding: 0;
}


/* SCROLLBARS */
body::-webkit-scrollbar {
	width: 7px;
	overflow: visible;
	background: #ffffff;
}
body::-webkit-scrollbar-track {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
body::-webkit-scrollbar-thumb {
	border-radius: 1px;
	background-color: #666666;
  border-left: solid 1px #ffffff;
	-webkit-box-shadow: none;
	box-shadow: none;
}
body::-webkit-scrollbar-thumb:hover{
	background-color: #666666;
}


/* MAIN */

.obsTopo{
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
}

.main{
  background-image: url('Img/Background/background_main.png');
  /* background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; */
  border-radius: 40px 40px 0px 0px;
  min-height: 100vh;
}

.conteudoTopo{
  text-align: center;
  margin-bottom: 4px;
}
.nomeTopo{
  text-align: center;
  background: linear-gradient(-90deg, rgba(211,28,92,1) 0%, rgba(254,103,126,1) 100%);
  color: #ffffff;
  padding: 1%;
  margin: 0px;
  border-radius: 40px;
}




.texto{
  word-wrap: break-word;
}

.informacoes{
  width: 70%;
  margin: 20px auto;
  padding: 15px 10px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 15px;
}
.div{
  margin: auto;
}
#div1_2, #div1_4,#div2_2, #div2_4{
  margin: auto;
  padding: 10px;
}

.linha{
  padding: 5px;
  padding-top: 15px;
}
textarea{
  resize: none;
}
.widthGeral{
  width: 65vw;
}

.botao{
  margin: 5px auto;
  padding: 5px 10px;
  font-weight: bolder;
  border-radius: 50px;
  cursor: pointer;
}

#escolhaDiv{
  width: 100%;
  margin: 20px auto;
  padding: 15px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: center;
  border-radius: 10px;
}
.input{
  margin: 10px auto;
}
#escolha .botao{
  padding: 10px;
  font-weight: bolder;
  border-radius: 50px;
  font-size: 18px;
  width: 210px;
  display: flex;
}
.botao:hover{
  background-color: #1EA3BC;
  border-color: #1EA3BC;
}

.botaoCopiarTextoClicado {
  border: 1px solid #95C470;
  background-color: #95C470;
}
.botaoCopiarTextoClicado:hover {
  border: 1px solid #86b064;
  background-color: #86b064;
}

.linkBotao{
  margin: auto;
}


/* Descrição */
.contudoInformacao{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: center; /* Centraliza horizontalmente */
}




.displayNone{
  display: none;
}



@media only screen and (max-width: 915px){
  .widthGeral{
    width: 800px;
  }
  #div1_1, #div1_3,#div2_1, #div2_3{
    overflow-x: scroll;
    width: 100%;
  }
}
@media only screen and (max-width: 815px){
  #div1_1, #div1_3,#div2_1, #div2_3{
    overflow-x: scroll;
    width: 100%;
  }
}